:root {
  --primary-color: aquamarine;
  --secondary-color: rgb(56, 54, 54);
  --body-color: rgb(201, 200, 200);
  --outside-color: whitesmoke;
  --primary-border: 4px solid;
}

* {
  box-sizing: border-box;
}

/* Header Section */
.header-container {
  display: flex;
  background-color: var(--secondary-color);
  justify-content: space-between;
  height: 100px;
  flex-wrap: wrap;
}

.header-title-background {
  display: flex;
  background-color: var(--primary-color);
  height: 80px;
  margin: auto 0;
  padding: 0 20px 0 40px;
}

.header-title {
  margin: auto 0;
  color: var(--secondary-color);
}

/* Nav Section */
.nav-container {
  display: flex;
  width: 30%;
  min-width: 300px;
  justify-content: space-around;
  margin: auto 0;
  padding-right: 10px;
}

.nav-link {
  color: var(--primary-color);
  padding: 10px 5px 0px;
  border-bottom: var(--primary-border) var(--primary-color);
  text-decoration: none;
  font-size: 24px;
}

/* Hero Banner */
.hero-banner {
  display: flex;
  height: 250px;
  background-image: url("../images/laptop-camera.jpg");
  justify-content: flex-end;
}

.hero-subtitle {
  background-color: var(--primary-color);
  margin: auto 50px 20px;
  padding: 8px;
}

/* Main Grid */
.page-wrapper {
  display: grid;
  border: var(--primary-border) black;
  grid-template-columns: 100px 1fr;
  grid-template-rows: auto auto 150px;
  row-gap: 20px;
  background-color: var(--body-color);
}

/* Section Title */
.section-title {
  text-align: right;
  height: 100%;
  border-right: var(--primary-border) black;
  padding-right: 10px;
}

/* Main Body */
body {
  margin: 0 auto;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  max-width: 1920px;
  background-color: var(--outside-color);
}

/* About text style */
.about-text {
  padding: 10px;
  font-size: 18px;
  height: max-content;
}

/* Portfolio Grid Section */
.portfolio-container {
  display: grid;
  margin: 10px 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 400px 200px 200px;
  grid-template-areas:
    "horiseon horiseon"
    "led-wall calculator"
    "pastel-puzzels run-body";
  grid-gap: 10px;
}

.horiseon {
  grid-area: horiseon;
  background-image: url("../images/horiseon-page.jpg");
}

.led-wall {
  background-image: url("../images/leds.jpg");
}

.calculator {
  background-image: url("../images/calculator.jpg");
}

.pastel-puzzels {
  background-image: url("../images/pastel-car.jpg");
}

.run-body {
  background-image: url("../images/02-run-buddy.jpg");
}

.work-item {
  border: var(--primary-border) var(--primary-color);
  background-size: cover;
  display: flex;
  text-decoration: none;
  opacity: 0.9;
}

.work-item:hover {
  opacity: 1;
}

.work-item-caption {
  background-color: var(--primary-color);
  height: max-content;
  margin: auto 0 50px;
  padding: 10px;
}

.work-item-heading,
.work-item-subheading {
  color: var(--secondary-color);
}

/* Contact Section */
.page-section-contact {
  display: flex;
  justify-content: space-evenly;
}

.contact-link {
  margin: auto 0;
  color: var(--secondary-color);
  padding: 10px 5px 0px;
  border-bottom: 4px solid var(--secondary-color);
  text-decoration: none;
  font-size: 24px;
}

/* Footer */
.footer-text {
  text-align: center;
}

/* Media Query */
@media only screen and (max-width: 920px) {
  .header-container {
    height: max-content;
  }

  .header-title-background {
    width: 100%;
    padding: 0 20px;
  }

  .header-title {
    margin: auto;
  }

  .nav-container {
    width: 100%;
    margin-bottom: 10px;
  }

  .page-wrapper {
    grid-template-rows: auto auto 150px;
  }

  .portfolio-container {
    grid-template-columns: 1fr;
    grid-template-rows: 200px 200px 200px 200px 200px;
    grid-template-areas: none;
  }

  .surf-report {
    grid-area: auto;
  }

  .page-section-contact {
    display: block;
  }

  .contact-link {
    display: block;
  }
}

/* Other */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}