:root {
--primary-color: aquamarine;
--secondary-color: rgb(56, 54, 54);
--third-color: rgb(201, 200, 200);
  /* --pageColor: #blue;
--border: 2px solid rgb(23, 46, 219);
--header-color: rgb(224, 20, 224); */
}

* {
  box-sizing: border-box;
}

.header-container {
  display: flex;
  background-color: var(--secondary-color);
  justify-content: space-between;
  height: 100px;
  flex-wrap: wrap;
}

.header-title-background {
  display: flex;
  background-color: var(--primary-color);
  height: 80px;
  margin: auto 0;
  padding: 0 20px 0 40px;
}

.header-title {
  margin: auto 0;
  color: var(--secondary-color);
}

.nav-container {
  display: flex;
  width: 30%;
  min-width: 300px;
  justify-content: space-around;
  margin: auto 0;
  padding-right: 10px;
}

.nav-link {
  color: aquamarine;
  padding: 10px 5px 0px;
  border-bottom: 2px solid var(--primary-color);
  text-decoration: none;
  font-size: 24px;
}

.hero-banner {
  display: flex;
  height: 250px;
  background-image: url("../images/laptop-camera.jpg");
  justify-content: flex-end;
}

.hero-subtitle {
  background-color: var(--primary-color);
  margin: auto 50px 20px;
  padding: 5px;
}

.section-title {
  text-align: right;
  height: 100%;
  border-right: 2px solid black;
  padding-right: 10px;
  
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  max-width: 1920px;
  background-color: whitesmoke;
}

.page-wrapper {
  display: grid;
  border: 2px solid rgb(5, 0, 0);
  grid-template-columns: 100px 1fr;
  grid-template-rows: 200px auto 150px;
  row-gap: 20px;
  background-color: var(--third-color);
}

.portfolio-container {
  display: grid;
  margin: 10px 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 400px 200px 200px;
  grid-template-areas:
    "surf-report surf-report"
    "led-wall calculator"
    "pastel-puzzels run-body";
  grid-gap: 10px;
}

.surf-report {
  grid-area: surf-report;
  background-image: url("../images/horiseon-page.jpg");
}

.led-wall {
  background-image: url("../images/leds.jpg");
}

.calculator {
  background-image: url("../images/calculator.jpg");
}

.pastel-puzzels {
  background-image: url("../images/pastel-car.jpg");
}

.run-body {
  background-image: url("../images/02-run-buddy.jpg");
}

.work-item {
  border: 5px solid var(--primary-color);
  background-size: cover;
  display: flex;
  text-decoration: none;
  opacity: 0.9;
}

.work-item:hover {
  opacity: 1;
}

.work-item-caption {
  background-color: var(--primary-color);
  height: max-content;
  margin: auto 0 50px;
  padding: 10px;
}

.work-item-heading,
.work-item-subheading {
  color: var(--secondary-color);
}

.page-section-contact {
  display: flex;
  justify-content: space-evenly;
}

.contact-link {
  margin: auto 0;
  color: var(--secondary-color);
  padding: 10px 5px 0px;
  border-bottom: 4px solid var(--secondary-color);
  text-decoration: none;
  font-size: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.footer-text {
  text-align: center;
}

@media only screen and (max-width: 920px) {
  .header-container {
    height: max-content;
  }

  .header-title-background {
    width: 100%;
    padding: 0 20px;
  }

  .header-title {
    margin: auto;
  }

  .nav-container {
    width: 100%;
    margin-bottom: 10px;
  }

  .page-wrapper {
    grid-template-rows: auto auto 150px;
  }

  .portfolio-container {
    grid-template-columns: 1fr;
    grid-template-rows: 200px 200px 200px 200px 200px;
    grid-template-areas: none;
  }

  .surf-report {
    grid-area: auto;
  }

  .page-section-contact {
    display: block;
  }

  .contact-link {
    display: block;
    font-size: larger;
  }
}